<%- include('header') %>

<main>
  <div class="grid-row">
    <% mydata.forEach((toy)=> { %>
      <div class="grid-item">
        <h3><%= toy.title %></h3>
        <a href="<%= toy.url %>" class="button" target="_blank">Buy Now</a>
      </div>
    <% }) %>
  </div>
</main>

<%- include('footer') %>
</body>
</html>